.add-admin{
    &:hover{
        color: $color-primary;
    }
}
.search-icon, .notification-icon{
    &:hover{
        color: $color-primary;
    }
}
.watch-icon{
    &:hover{
        color: $color-primary;
    }
}